{% block css %}
{{superblock}}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        height: 400px;
    }

    .marker {
        background-image: url('./bees-gut.svg');
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 10%;
        cursor: pointer;
        opacity: 0.8;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
</style>

{% endblock css%}

<div class='container'>
    <div id='map'></div>

    <script>
        var geojson = {{ sample_geo_json| safe}};

        mapboxgl.accessToken = 'pk.eyJ1IjoibmV2ZXJzYXk0ZXZlciIsImEiOiJjazcxOWZndmYwNDVoM21tbHliaWtlMWxiIn0.dC_Ju9EeWHNjeWI-lWOttQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/neversay4ever/ck7wpchn904ud1iqawriwx8dr',
            center: [110, 28],
            zoom: 3
        });

        geojson.features.forEach(function (marker) {

            // create a HTML element for each feature

            // make a marker for each feature and add to the map

            var el = document.createElement('div');
            el.className = marker.properties['sample_species'].split(' ').join('_');


            var scale = 8;
            if (marker.properties['count'] > 100) {
                scale = 20;
            } else if (marker.properties['count'] > 50) {
                scale = 15;
            } else if (marker.properties['count'] > 10) {
                scale = 12;
            }
            el.style = "height:" + scale + "px;" + "width:" + scale + "px;" + "--segment1:" + 0 + "; --segment2:" + 0 + ";"

            new mapboxgl.Marker(el, {
                offset: [-scale / 2, -scale]
            })
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);

            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<h3>' + marker.properties['sample_species'] + '</h3><p>' + marker.geometry.coordinates[0] + "," + marker.geometry.coordinates[1] + '</p><p>' + marker.properties['count'] + '</p>'))
                .addTo(map);
        });
    </script>
</div>