{% extends "base.html" %}

      {% block content %}
      <p>中医药是我国经过几千年的不断实践积累下来的传统经验, 为中华民族的繁衍生息和健康发展做出了不可磨灭的贡献, 在世界医学发展的道路上也起了不可估量的作用。 据世界卫生组织估计，世界上80%的人种群，超过20亿人口在使用草药进行疾病治疗。中药的成分主要来自于天然药用植物，药用植物指医学上用于防病、治病的植物，其植株的全部或一部分供药用或作为制药工业的原料。
    中国是药用植物资源最丰富的国家之一，对药用植物的发现、使用和栽培，有着悠久的历史。在药用植物中，道地药材尤其得到古今医家的广泛使用。道地药材，是指经过中医临床长期应用优选出来的，产在特定地域，与其他地区所产同种中药材相比，品质和疗效更好，且质量稳定，具有较高知名度的中药材。中国中草药约5000种，其中传统道地药材200余种。在中医处方笺上，许多药名前标有“川”、“云”、“广”等产地，这些药物大多就是道地药材。四川复杂的地形地貌和多样的气候条件，适宜多种药用动植物的生长。四川现有中药资源近5000种，自古以来就有“中医之乡、中药之库”的美誉，也是川芎、附子、川贝母、姜黄、白芷、麦冬、冬虫夏草等道地药材主产区，川产道地药材品种数超过50种，占全国著名道地药材数量的1/4以上，在中医药界更有“无川药不成方”之说，可见川药应用之广泛。
    药用植物种质资源是国家重要生物战略资源，是中医药可持续发展基础；作为新药开发的重要来源，珍贵的药用基因资源也是世界各国的争夺对象。加强药用基因资源的保存、保护、可持续利用和研究是中国医药学发展迫在眉睫的重要任务。
    然而，当前大多数药用植物遗传背景不清楚，功能基因的研究亦极为薄弱，亟需采用高通量方式在整体水平上全面分析基因功能，建立基因和功能表达之间的联系，阐明和完善重要药用植物次生代谢产物合成途径、合成关键酶基因及其调控机制。很多药用植物起药效功能的可能是某些特定器官或组织，如植物的根茎、叶柄、外皮、种子，而有些药用植物的具有药效作用的可能是特定发育阶段的组织，如植物的花序，果仁，成熟的孢子等。与基因组不同，转录组是反映个体在特定器官、组织或某一特定发育阶段细胞中所有基因表达水平的数据，特别适用于发现和鉴定与植物药效功能相关的基因及研究基因表达的调控机制。
      </p>
<p>本项目计划通过转录组测序，构建川产道地中草药基因图谱，是从组学高度进行中草药研究的源泉。将为后续各种组学研究提供分析方法、研究方案以及纲领性指导。在此基础上，结合后续基因组、蛋白组、化学组、代谢组、土壤菌群等组学分析，将从根源上揭示中草药的遗传基础、物质基础，进而推动作用机制、合成代谢等密切关系临床应用的基础问题研究。为世界天然产物研究提供资源库和研究方法，最终建立完整的中草药组学资源，成为现代化、分子水平的本草纲目。本项目的开展将把我省的中草药研究推向一个全新的高度，形成一个在国内具有制高点的中药研究基地。</p>

<p>本项目汇集整合中国300份经济价值高的药用植物样本资源，并进行大规模的转录组测序研究，作为从组学高度进行药用植物研究的第一步，将为后续各种组学研究提供分析方法、研究方案以及纲领性指导。未来在此基础上，结合后续基因组、蛋白组、化学组、代谢组等组学分析， 将从根源上揭示药用植物的遗传基础、物质基础，进而推动作用机制、合成代谢等密切关系临床等应用的基础问题研究。本项目将药用植物遗传资源数字化，构建目前最大并具有中国特色药用植物资源宝库、遗传数据资源共享平台和在线数据分析平台，为药用植物的研究提供重要的基础和依据，为全球药用植物研究者提供前所未有的基础资源。通过建立川产道地中草药遗传信息资源的分析平台，基于大规模的药用植物遗传数据比较分析，对药用植物物种进行分类并建立物种鉴定平台，为专家和公众便捷、准确了解和获取药用植物多样性和遗传信息提供全新的认知手段和平台。</p>
      {% endblock content %}